.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #2190ce;
  border-radius: 10px;
  padding: 0 14px 14px 14px;
  width: 100%;
}

.title {
  font-family: "Fredoka One";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #ffffff;
}

.arrow {
  background-color: transparent;
  border: none;
  font-size: 20px;
  padding: 0 10px;
  cursor: pointer;
  color: #ffffff;
}

.gameCards {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-direction: column;
}

.button {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  gap: 9px;
  border: none;
}
.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 500px) {
}

@media screen and (max-width: 300px) {
  .card {
    width: 100vw;
    height: 393px;
  }
  .gameCards img {
    width: 100%;
    height: 100%;
  }
}
