.nav {
  background-color: #ee436e;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 49px;
  width: 100%;
}

.nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav li {
  height: 100%;
}

.nav a {
  display: block;
  padding: 10px 15px;
  color: #ffffff;
  text-decoration: none;
  width: 195px;
  align-items: center;
  text-align: center;
  font-family: "Fredoka One";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

.nav a:hover {
  background-color: #005382;
}

.active {
  background-color: #005382;
}

.navItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navItem img {
  margin-right: 10px;
}
.homeicon {
  width: 21px;
  height: 20px;
}

.popularicon {
  width: 22px;
  height: 18.94px;
}

.IOicon {
  width: 21px;
  height: 23px;
}

.gunicon {
  width: 27px;
  height: 21px;
}

.girlsicon {
  width: 16px;
  height: 19.64px;
}

.racingicon {
  width: 23px;
  height: 18px;
}

.sportsicon {
  width: 20px;
  height: 20px;
}
