.gridContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-gap: 10px;
}

/* Bu, 7. satırdan 9. satıra ve 1. sütundan 5. sütuna kadar uzanan bir bileşen için stil ekler */
.multiplayerCard {
  grid-row: 7 / 10;
  grid-column: 1 / 6;
}
